.item {
  padding: 20px;
  border: solid 1px black;
  margin-bottom: 15px; 
  width: 240px;
  text-align: center;
  border-radius:5px;
  min-height: 90px;
}

.item:hover {
  background-color: #E3E3E3;
}

.item.full {
  background-color: #FF9999;
}

.donor {
  margin-top:5px;
  font-style:italic;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
}

.block {
}

.entry {
  padding-bottom:25px;
}
