%h1
  Sequioa Nursery School Annual Auction
  %small
    Up, Up, and Away!
.hr
%p.lead
  Online Signups are now closed
  %br
  See you Saturday Night!!
%p.block
  Please contact Amanda with any questions via
  %a{href: 'mailto:amanda.m.okamoto@gmail?subject=Question about the Sequoia Auction'}
    email <amanda.m.okamoto@gmail>
  or phone 
  %strong
    510-693-9544
